.form {
  width: calc(100% - 2px);
  
  .balance {
    padding: 20px;

    h3 {
      text-transform: uppercase;
      color: #1641b5;
      font-weight: 600;
      margin: 20px 0 10px 20px;
      font-size: 1.8em;
    }

    p {
      color: #637097;
      font-size: 1em;
      line-height: 1.86;
      font-weight: 300;
      margin: 10px 0 10px 20px;
      user-select: none;

      &.info {
        padding-top: 10px;
        user-select: none;
      }
    }
  }

  .invest {
    border-top: 2px solid #ececec;
    padding: 40px 20px 20px 20px;

    form {
      width: 100%;

      :global(& > div) {
        margin: 0 20px 30px 20px;
      }
    }

    p {
      color: #637097;
      font-size: 1em;
      line-height: 1.86;
      font-weight: 300;
      padding-top: 20px; 
      margin: 10px 0 10px 20px;
      user-select: none;
    }
  }
}

