.counter {
  width: 35%;
  height: 100%;
  min-width: 250px;
  position: relative;

  .marker {
    position: absolute;
    left: 50%;
    top: 0;
    height: 251px;
    width: 2px;
    content: '';
    margin-right: -50%;
    transform: rotate(0deg);
    z-index: 1;
    padding: 15px 0;

    .filled {
      width: 3px;
      height: 27px;
      background: transparent;
    }
  }

  .circle {
    width: calc(100% - 40px);
    height: 50%;
    border-radius: 50%;
    margin: 20px;
    min-width: 210px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .single-chart {
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      margin: -2px;
      justify-content: space-around;

      .circular-chart {
        width: 100%;
        height: 100%;
        display: block;

        .circle {
          fill: none;
          stroke-width: 3.8;
          animation: progress 1s ease-out forwards;

          &.raised {
            stroke-width: 0.5px;
            stroke: #0a3794;
          }

          &.soft {
            stroke: #ff9f00;
          }

          &.hard {
            stroke: #41faa4;
          }

          &.total {
            stroke: #16a3fe;
          }
        }
      }
    }

    .centre {
      width: 80%;
      height: 80%;
      background:#ffffff;
      border-radius: 50%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h3 {
        color: #1641b5;
        text-transform: uppercase;
        font-weight: 600;
        min-width: initial;
        font-size: 0.75em;
        line-height: 1.55em;

        &:last-of-type {
          font-size: 0.65em;
          margin-bottom: 5px;
          color: #000000;
        }
      }

      .unit {
        span {
          color: #1641b5;
          font-size: 0.85em;
          font-weight: 300;
          min-width: 85px;
          user-select: none;
          text-transform: uppercase;
          font-weight: 600;

          &:last-of-type {
            color: #637097;
            padding-left: 5px;
            font-weight: 400;
          }
        }
      }

      .capReached,
      .crowdsaleEnded {
        text-align: center;
        color: #1641b5;
        font-weight: 600;
        margin: 0;
        font-size: 1.5em;
      }
    }
  }

  .descriptions {
    margin: 0 20px;

    .info {
      display: flex;
      margin-bottom: 15px;

      .colored {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
          width: calc(100% - 4px);
          height: calc(100% - 4px);

          &.soft {
            background: #ff9f00;
          }

          &.hard {
            background: #41faa4;
          }

          &.total {
            background: #16a3fe;
          }

          &.raised {
            background: #0a3794;
          }
        }
      }
    }

    span {
      display: flex;

      p {
        color: #637097;
        font-size: 0.85em;
        font-weight: 300;
        min-width: 105px;
        user-select: none;

        &:last-of-type {
          color: #1641b5;
          text-transform: uppercase;
          font-weight: 600;
          min-width: initial;
        }
      }
    }
  }
}